// import MUI colors
@import "../node_modules/muicss/lib/sass/mui-colors.scss";

// customize MUI variables
/*$mui-primary-color:       mui-color('blue', '500');
$mui-primary-color-dark:  mui-color('purple', '700');
$mui-primary-color-light: mui-color('purple', '100');*/

$mui-accent-color:        mui-color('deep-orange', 'A200');
$mui-accent-color-dark:   mui-color('deep-orange', 'A100');
$mui-accent-color-light:  mui-color('deep-orange', 'A400');

// import MUI SASS
@import "../node_modules/muicss/lib/sass/mui.scss";