@charset "UTF-8";

 @font-face {
  font-family: 'commabrowser-default';
  src: url('../font/commabrowser-default.eot?55576511');
  src: url('../font/commabrowser-default.eot?55576511#iefix') format('embedded-opentype'),
       url('../font/commabrowser-default.woff2?55576511') format('woff2'),
       url('../font/commabrowser-default.woff?55576511') format('woff'),
       url('../font/commabrowser-default.ttf?55576511') format('truetype'),
       url('../font/commabrowser-default.svg?55576511#commabrowser-default') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'commabrowser-default';
    src: url('../font/commabrowser-default.svg?55576511#commabrowser-default') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "commabrowser-default";
  font-style: normal;
  font-weight: normal;
  speak: never;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-airfield:before { content: '\266b'; } /* '♫' */
.icon-flag:before { content: '\2691'; } /* '⚑' */
.icon-music:before { content: '\e800'; } /* '' */
.icon-glass:before { content: '\e801'; } /* '' */
.icon-airport:before { content: '\e802'; } /* '' */
.icon-art-gallery:before { content: '\e803'; } /* '' */
.icon-bar:before { content: '\e804'; } /* '' */
.icon-baseball:before { content: '\e806'; } /* '' */
.icon-basketball:before { content: '\e807'; } /* '' */
.icon-beer:before { content: '\e808'; } /* '' */
.icon-belowground-rail:before { content: '\e809'; } /* '' */
.icon-bicycle:before { content: '\e80a'; } /* '' */
.icon-bus:before { content: '\e80b'; } /* '' */
.icon-cafe:before { content: '\e80c'; } /* '' */
.icon-campsite:before { content: '\e80d'; } /* '' */
.icon-cemetery:before { content: '\e80e'; } /* '' */
.icon-cinema:before { content: '\e80f'; } /* '' */
.icon-college:before { content: '\e810'; } /* '' */
.icon-commerical-building:before { content: '\e811'; } /* '' */
.icon-credit-card:before { content: '\e812'; } /* '' */
.icon-cricket:before { content: '\e813'; } /* '' */
.icon-embassy:before { content: '\e814'; } /* '' */
.icon-fast-food:before { content: '\e815'; } /* '' */
.icon-ferry:before { content: '\e816'; } /* '' */
.icon-fire-station:before { content: '\e817'; } /* '' */
.icon-football:before { content: '\e818'; } /* '' */
.icon-fuel:before { content: '\e819'; } /* '' */
.icon-garden:before { content: '\e81a'; } /* '' */
.icon-giraffe:before { content: '\e81b'; } /* '' */
.icon-golf:before { content: '\e81c'; } /* '' */
.icon-grocery-store:before { content: '\e81e'; } /* '' */
.icon-harbor:before { content: '\e81f'; } /* '' */
.icon-heliport:before { content: '\e820'; } /* '' */
.icon-hospital:before { content: '\e821'; } /* '' */
.icon-industrial-building:before { content: '\e822'; } /* '' */
.icon-library:before { content: '\e823'; } /* '' */
.icon-lodging:before { content: '\e824'; } /* '' */
.icon-london-underground:before { content: '\e825'; } /* '' */
.icon-minefield:before { content: '\e826'; } /* '' */
.icon-monument:before { content: '\e827'; } /* '' */
.icon-museum:before { content: '\e828'; } /* '' */
.icon-pharmacy:before { content: '\e829'; } /* '' */
.icon-pitch:before { content: '\e82a'; } /* '' */
.icon-police:before { content: '\e82b'; } /* '' */
.icon-post:before { content: '\e82c'; } /* '' */
.icon-prison:before { content: '\e82d'; } /* '' */
.icon-rail:before { content: '\e82e'; } /* '' */
.icon-religious-christian:before { content: '\e82f'; } /* '' */
.icon-religious-islam:before { content: '\e830'; } /* '' */
.icon-religious-jewish:before { content: '\e831'; } /* '' */
.icon-restaurant:before { content: '\e832'; } /* '' */
.icon-roadblock:before { content: '\e833'; } /* '' */
.icon-school:before { content: '\e834'; } /* '' */
.icon-shop:before { content: '\e835'; } /* '' */
.icon-skiing:before { content: '\e836'; } /* '' */
.icon-soccer:before { content: '\e837'; } /* '' */
.icon-swimming:before { content: '\e838'; } /* '' */
.icon-tennis:before { content: '\e839'; } /* '' */
.icon-theatre:before { content: '\e83a'; } /* '' */
.icon-toilet:before { content: '\e83b'; } /* '' */
.icon-town-hall:before { content: '\e83c'; } /* '' */
.icon-trash:before { content: '\e83d'; } /* '' */
.icon-tree-1:before { content: '\e83e'; } /* '' */
.icon-tree-2:before { content: '\e83f'; } /* '' */
.icon-warehouse:before { content: '\e840'; } /* '' */
.icon-flag-empty:before { content: '\f11d'; } /* '' */
.icon-flag-checkered:before { content: '\f11e'; } /* '' */
.icon-mic:before { content: '\f130'; } /* '' */
.icon-mute:before { content: '\f131'; } /* '' */
.icon-picture:before { content: '🌄'; } /* '\1f304' */
.icon-aboveground-rail:before { content: '🍸'; } /* '\1f378' */
.icon-videocam:before { content: '🎥'; } /* '\1f3a5' */
.icon-camera:before { content: '📷'; } /* '\1f4f7' */