.mapMarker .category-0, .card.category-0 .card-image {
    background-color: darkblue;
  }

.mapMarker .category-1, .card.category-1 .card-image, .chip.category-1,path.leaflet-interactive.category-1  {
    background-color: darkcyan;
}

.mapMarker .category-2, .card.category-2 .card-image, .chip.category-2,path.leaflet-interactive.category-2  {
    background-color: darkgoldenrod;
    
}

.mapMarker .category-3, .card.category-3 .card-image, .chip.category-3,path.leaflet-interactive.category-3  {
    background-color:darkmagenta;
  
}

.mapMarker .category-4,.card.category-4 .card-image, .chip.category-4,path.leaflet-interactive.category-4  {
    background-color: darkolivegreen;
 
}

.mapMarker .category-5,.card.category-5 .card-image, .chip.category-5 ,path.leaflet-interactive.category-5 {
    background-color:darkred;
    
}

.mapMarker .category-6, .card.category-6 .card-image, .chip.category-6, path.leaflet-interactive.category-6  {
    background-color:darkturquoise;

}

.mapMarker .category-7, .card.category-7 .card-image, .chip.category-7, path.leaflet-interactive.category-7  {
    background-color:darkslateblue;
  

}

.mapMarker .category-8, .card.category-8 .card-image, .chip.category-8, path.leaflet-interactive.category-8  {
    background-color:darkslategray;
   
}

.mapMarker .category-9, .card.category-9 .card-image, .chip.category-9, path.leaflet-interactive.category-9  {
    background-color:darkseagreen;
  
}

.mapMarker .category-10, .card.category-10 .card-image, .chip.category-10, path.leaflet-interactive.category-10  {
    background-color:darkorchid;

}


