html,
body {
    height: 100%;    
}

 
 html,
 body,
 input,
 textarea,
 button {
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
 }
 

*,
*:before,
*:after {
    box-sizing: border-box;
}

body, #sidedrawer {
  background-image: url("/browser/images/background.png");
}


/*
Text
--------------------------------------------------------------*/
body {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial;
}

h2 {
  font-size: 2.5rem;
  margin: 1rem;
}

h4 {
  font-size: 1.5rem;
  margin: 0.3rem 0;
}



/*
Layout
-------------------------------------------------------------------*/
#sidedrawer {
  z-index:999;
  overflow: auto;
  height: calc(100% - 66px);
  
}

header {
  box-sizing:border-box;
  width: calc(100% - 300px);  
}


#content-wrapper {
  position: fixed;
  overflow:auto;
  z-index:1;
  width:100%;
  top: 70px;
  height:calc(100% - 134px);      
}


header, #content-wrapper {
  padding-left: 300px;  
}

 



#map-wrapper,#timeline-wrapper,#cards-wrapper {
  display:none;  
}

body.viewCards.showDetail #content-wrapper {
  width:calc(100% - 400px);
}

/*
.showDetail header, .showDetail #cards-wrapper, .showDetail footer {  
  margin-right:400px;
}
*/

.viewMap #map-wrapper, .viewTimeline #timeline-wrapper, .viewCards #cards-wrapper {
  display: inline-block;
}

.viewer {
  width:100%;
  box-sizing:border-box;
}



#map-wrapper,  #leafletMap, #timeline-wrapper,  #timeline-embed {
  height:100%;
}


#section-filters, #section-more {
  padding: 0 10px;
}
#tool-wrapper {
  min-height: 400px;
}


.page-footer {
  position: fixed;
  bottom:0;
  width:100%;
  height: 64px;
  background-color: rgba(255, 255, 255, 0.75);
  border-top: 1px solid #333;
  color:#333;
  padding-top:10px;
}


body.liveMode .page-footer {
  border-top: 2px solid red;
}

.page-footer img {
  max-height: 35px;
}
@media only screen and (max-width : 992px) {
  #sidedrawer {
    height:100%;
  }
  header, #content-wrapper, footer {
    padding-left: 0;
  }
  footer {
    display:none;
  }
  #content-wrapper {
    top:45px;
    height:calc(100% - 40px);      
  }

}
     

/*
header
----------------------------------------------------------
*/
nav {
  z-index:999;
  overflow: hidden;
  background: none;
  box-shadow: none;
}

@media only screen and (max-width : 992px) {
  nav {
    box-shadow:  0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    background: #fff;  
  }
}
    


img#logo {
  width:100%;
}

nav .brand-logo {
  padding-left: 20px;
  color:#000;
}



nav #nav-menu {
  width:800px;
}

nav a, nav ul a {
  color: #000;
  font-size:1.5rem;
}

@media only screen and (max-width : 992px) {
  nav .brand-logo {
    font-size: 1.4rem;
  }
}

#settings-icon {
  position:absolute;
  top:0px;
  right:305px;
  z-index: 100;
}  

@media only screen and (max-width : 992px) {
  #settings-icon {
    right:5px;
    
  }  
}

.viewMap #sidenav-menu-map, .viewTimeline #sidenav-menu-timeline, .viewCards #sidenav-menu-cards  {
  color: #eb5757;
}

.viewMap #nav-menu-map a , .viewTimeline #nav-menu-timeline a, .viewCards #nav-menu-cards a {
  color: #eb5757;

}


    

/*
Map 
------------------------------------------------------------------------*/
#leafletMap {
  z-index:1;
}


.mapMarker span{    
    width: 2rem;
    height: 2rem;
    display: block;
    left: -1rem;
    top: -1rem;
    position: relative;
    border-radius: 3rem 3rem 0;
    transform: rotate(45deg);
    border: 1px solid #000;
    opacity: 0.75;
}

.mapMarker span.active{    
  width: 3rem;
  height: 3rem;
  display: block;
  left: -2rem;
  top: -2rem;
  position: relative;
  border-radius: 3rem 3rem 0;
  transform: rotate(45deg);
  border: 3px solid  #eb5757;
  opacity: 1;
}



/* Timeline
-------------------------------------------------------------------*/

.tl-timemarker.tl-timemarker-active .tl-timemarker-content-container {
  background-color:  #eb5757;
}


.tl-timemarker.tl-timemarker-active .tl-timemarker-content-container .tl-timemarker-content .tl-timemarker-text h2.tl-headline.tl-headline-fadeout::after, .tl-timemarker.tl-timemarker-active:hover .tl-timemarker-content-container .tl-timemarker-content .tl-timemarker-text h2.tl-headline.tl-headline-fadeout::after {
  background:none; 
}

.tl-timegroup .tl-timegroup-message {
  color: #333;
}

/*
Highlighter
---------------------------------------------------------------------*/

#highlighter-wrapper {
  display:none;
}

#highlighter-wrapper {
  position: absolute;
  vertical-align: top;
  overflow: hidden;  
  z-index: 10; 
  background-color: #fff;
  border-radius:10px;
  transition: all 0.3s;     
  box-shadow: -5px -4px 4px 0 rgba(0, 0, 0, 0.5);
  bottom:20px;  

}


.viewMap.showFeatured #highlighter-wrapper {
  display: inline-block;
  width:250px;
  height: 150px;  
  right:25px;       
}

.viewMap.showDetail #highlighter-wrapper, .viewCards.showDetail #highlighter-wrapper {
  display: inline-block;  
  width:400px;
  height: calc(100% - 100px);
  right:0;       
  bottom:0;
  position: fixed;
  overflow: auto;  
}


@media only screen and (max-width : 600px) {
  .viewMap.showDetail #highlighter-wrapper, .viewCards.showDetail #highlighter-wrapper {
    width:100%;
    height:calc(100% - 60px);        
  }
}


.showFeatured  #highlight-summary .card-image  {    
    width:100%;
    padding: 0;
    max-height: 70px;
    overflow: hidden;
}

.showDetail  #highlight-summary .card-image  {    
  width:100%;
  padding: 0;
  max-height: 250px;
  overflow: hidden;
}
#highlight-summary .card-image img {
  object-fit: cover;
  width:100%;
}

.image-credit {
  float: right;
  font-size: 0.5em;
  color: gray;
  padding-right: 20px;
}

.showFeatured  #highlight-summary h2  {    
  padding: 10px;
  font-size: 1.3rem;
  margin:0;
}

.showDetail  #highlight-summary h2  {    
  padding: 10px;
  font-size: 2rem;
}

.showDetail  #highlight-summary .zoomOpen {
  display:none;
}

.zoomClose {
  display:none;
}

.showDetail .zoomClose {
  display:inline-block;
}


#highlight-detail {
  display:none; 
}


.showDetail #highlight-detail {
  display:inline-block;
  width:100%; 
  padding:10px;
}


/*
---------------------------------------------------------------------- */

#highlight-detail .subcategory {
  color:#999;
}


#highlight-detail-related {
}

#highlight-detail-related .card{  
  height: 200px;
}

#highlight-detail-related .card .card-title{
  font-size:16px;
}

#highlight-detail-related .card .card-content{
  padding:12px;
}


#highlight-detail-related .card .card-action{
  display: none;
}



/* Controls and chips
---------------------------------------------------------------------- */

.control.active, .chip.active {  
  border:solid 2px darkslategray;
  background-color: #eb5757;
  color: #000;
}

#controls-reset {
  text-align: center;
  font-style: italic;
}

.chip {
  border:solid 2px white;
  
}

#controls-category .chip {
  display: block; 
  height: 30px;
  line-height: 28px;
  border-radius: 0;
  box-sizing: border-box;
  color: lightgrey;
  font-weight: 600;
}

#controls-category .chip.active {
  color: white;  
}



#controls-category .chip i.enabled, #controls-category .chip.active i.disabled {
  display: none;
}

#controls-category .chip.active i.enabled{
  display: inline-block;
}

body.noFilters #controls-category .chip i {
  display:none;
}

span.badge.new {
  background-color: #eb5757;
}


*/
/* Cards
---------------------------------------------------------------------- */
#cards-wrapper {
    clear: both;
    z-index: 1;
    height:100%;
    overflow:auto;
}

#cards-wrapper .controls {
  float:right;
}

.cards {
  z-index: 1;
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
  grid-gap: 10px;
    padding: 0.75rem;  
  /*  background-color: #fff;*/
    overflow: hidden;    
    clear: both;
}

.cards:after {
    content: '';
    display: inline-block;
    width: 100%;
}

.card.small .card-image {
  max-height: 100%;
}

.card .card-image {
  height:100%;  
  padding-top:5px;
}

.card .card-image .img {
  height:100%;
  object-fit: cover;
}


.card .card-image .card-title {
  background-color: rgba(255, 255, 255, 0.75);
  padding:5px;
}


.card .card-action {
  padding: 3px 24px;
}

.gap {
    display: inline-block;
    vertical-align: top;
}


.card.active {
  border:solid 3px darkblue;
}

.card i.back, .card.active i.forward {
  display:none;
}

.card i.forward, .card.active i.back {
  display:inline;
}



.card i.date, .card i.map {
    display: none;
}

.card.event i.date, .card.geo i.map  {
    display: inline; 
}



.sort-title.sortDir-asc .controls [data-sort="title"].direction-asc, .sort-title.sortDir-desc .controls [data-sort="title"].direction-desc,
.sort-created_date.sortDir-asc .controls [data-sort="created_date"].direction-asc, .sort-created_date.sortDir-desc .controls [data-sort="created_date"].direction-desc,
.sort-updated_date.sortDir-asc .controls [data-sort="updated_date"].direction-asc, .sort-updated_date.sortDir-desc .controls [data-sort="updated_date"].direction-desc  {
  color:  #eb5757;
}

/* ------------------------*/

.material-tooltip {
  top: 30px;
  border: 1px solid white;
}


/* -------------------- Map fixes

.leaflet-fade-anim .leaflet-tile,.leaflet-zoom-anim .leaflet-zoom-animated { will-change:auto !important; }

 
  
  /**
  Tests 
  **/
  #tests {
    display:none;
    position:absolute;
    height:100px;
    width:300px;
    bottom:0;
    top:100px;
    background:#fff;
    z-index:99;
    overflow:auto;
  }