html,
body {
    height: 100%;
    background: #fff;
}

 
 html,
 body,
 input,
 textarea,
 button {
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
 }
 

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial;
}

/*
Layout
-------------------------------------------------------------------*/



.showDetail header, .showDetail #content-wrapper, .showDetail footer {  
margin-right:400px;
}


#map-wrapper,#timeline-wrapper,#cards {
  display:none;
}

.viewMap #map-wrapper, .viewTimeline #timeline-wrapper {
  display: inline-block;
}

.viewCards #cards {
  display:grid;
}

.viewer {
  width:100%;
}

/*
header
----------------------------------------------------------
*/


img#logo {
  width:100%;
}

nav .brand-logo {
  padding-left: 20px;
}

nav {
  z-index:3;
}

#content-wrapper 
 {
  z-index: 2;
}

/*
Highlighter
---------------------------------------------------------------------*/

#highlighter-wrapper {
  display:none;
}

#highlighter-wrapper {
  position: absolute;
  vertical-align: top;
  overflow: hidden;  
  z-index: 2; 
  background-color: #fff;
  border-radius:10px;
  transition: height 0.3s;     
}


.viewMap.showFeatured #highlighter-wrapper {
  display: inline-block;
  width:250px;
  height: 150px;
  bottom:30px;
  right:25px;       
}

.viewMap.showDetail #highlighter-wrapper, .viewCards.showDetail #highlighter-wrapper {
  display: inline-block;
  width:400px;
  height: 100%;
  top:64px;
  right:0;       
  position: fixed;
  overflow: auto;  
}

.showFeatured  #highlight-summary .card-image  {    
    width:100%;
    padding: 0;
    max-height: 70px;
    overflow: hidden;
}

.showDetail  #highlight-summary .card-image  {    
  width:100%;
  padding: 0;
  max-height: 250px;
  overflow: hidden;
}
#highlight-summary .card-image img {
  object-fit: cover;
  width:100%;
}


.showFeatured  #highlight-summary h2  {    
  padding: 10px;
  font-size: 1rem;
}

.showDetail  #highlight-summary h2  {    
  padding: 10px;
  font-size: 2rem;
}

.showDetail  #highlight-summary .zoomOpen {
  display:none;
}

.zoomClose {
  display:none;
}

.showDetail .zoomClose {
  display:inline-block;
}


#highlight-detail {
  display:none; 
}


.showDetail #highlight-detail {
  display:inline-block;
  width:100%; 
  padding:10px;
}



/* Controls
---------------------------------------------------------------------- */

.control.active, .chip.active {
  background-color: pink;
}


*/
/* Cards
---------------------------------------------------------------------- */
#cards-wrapper {
    clear: both;
    z-index: 4;
    border: solid 2px red;
    background-color:#fff;
}

#cards-header {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  bottom: 0;
  background-color: white;
  border-top: solid 2px black;
  z-index: 4;
  box-shadow: 0 -3px 2px 0 rgba(0, 0, 0, 0.14);

}

.cards {
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
  grid-gap: 10px;
  
    padding: 0.75rem;  
    background-color: #fff;
    overflow: hidden;
    z-index:4;
}

.cards:after {
    content: '';
    display: inline-block;
    width: 100%;
}


.card .card-image {
  height:50%;  
}

.card .card-image .img {
  height:100%;
  object-fit: cover;
}


.gap {
    display: inline-block;
    vertical-align: top;
}



.card.active {
  border:solid 3px darkblue;
}

.card i.date, .card i.map {
    display: none;
}

.card.event i.date, .card.geo i.map  {
    display: inline; 
}



/* Grid Breakpoints
---------------------------------------------------------------------- */

/* 2 Columns    - tiny  portrait*/ 


#content-wrapper, #map-wrapper,  #leafletMap, #timeline-wrapper,  #timeline-embed {
    height:100%;    
    z-index: 1;    
  }




/* ------------------------*/
/* -------------------- Map fixes

.leaflet-fade-anim .leaflet-tile,.leaflet-zoom-anim .leaflet-zoom-animated { will-change:auto !important; }

 
  
  